   <!-- Header -->
    <header>
      <nav>
        <div class="logo">
          <a href="#home">
            <img
              src="assets/img/logotipos/logotipo - ong oca/logotipo.webp"
              alt="Logo ONG OCA"
            />
          </a>
        </div>

        <ul class="nav-links">
          <li><a href="#home">Home</a></li>
          <li><a href="#sobre">Sobre Nós</a></li>
          <li class="dropdown">
            <a href="#servicos">Serviços <i class="fas fa-chevron-down"></i></a>
            <div class="dropdown-content">
              <a href="#servicos">Serviço Social</a>
              <a href="#servicos">Psicologia</a>
              <a href="#servicos">Psicopedagogia</a>
              <a href="#servicos">Pedagogia</a>
              <a href="#servicos">Fisioterapia</a>
              <a href="#servicos">Fonoaudiologia</a>
              <a href="#servicos">Assistência Alimentar</a>
            </div>
          </li>
          <li><a href="#transparencia">Transparência</a></li>
          <li><a href="#blog">Blog</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="#contato">Contato</a></li>
          <li>
            <a href="#" class="btn-donate" onclick="openModal()">Doe Aqui</a>
          </li>
        </ul>
        <!-- Botão Dark Mode -->
        <button
          id="darkModeToggle"
          class="dark-mode-toggle"
          aria-label="Alternar modo escuro"
        >
          <span class="moon-icon">🌙</span>
          <span class="sun-icon">☀️</span>
        </button>
        <div class="mobile-menu">
          <i class="fas fa-bars"></i>
        </div>
      </nav>
      
    </header>