   <!-- Hero Banner -->
      <section id="home">
        <div class="carousel">
    <!-- SLIDE 1 -->
    <div class="carousel-slide active">
      <picture>
        <source media="(max-width: 768px)" srcset="assets/img/banners/mobile/Campanha_Kit_Escolar.png" />
        <img
          src="assets/img/banners/desktop/Campanha_Kit_Escolar.png"
          alt="Campanha Kit Escolar"
          class="carousel-img"
          decoding="async"
          width="1920"
          height="1080"
        />
      </picture>
                  <div class="carousel-overlay">
              <div class="carousel-content">            
                 <a href="https://wa.me/5521968181005" target="_blank" aria-label="Enviar mensagem pelo WhatsApp" class="btn-primary" >DOAR</a>
              </div>
            </div>
    </div>

    <!-- SLIDE 2 -->
    <div class="carousel-slide">
      <picture>
        <source media="(max-width: 768px)" srcset="assets/img/banners/mobile/IMG-20260114-WA0081.jpg" />
        <img
          src="assets/img/banners/desktop/IMG-20260114-WA0077.jpg"
          alt="Campanha Social"
          class="carousel-img"
          decoding="async"
          width="1920"
          height="1080"
        />
      </picture>
                  <div class="carousel-overlay">
              <div class="carousel-content">
                
               <a href="#" class="btn-primary" onclick="openModal()">DOAR</a>
              </div>
            </div>
    </div>

              <div class="carousel-slide">
            <picture>
              <source
                media="(max-width: 768px)"
                srcset="assets/img/banners/desktop/doação.webp"
              />
              <img
                src="assets/img/banners/desktop/doação.webp"
                alt="ano novo"
                class="carousel-img"
                fetchpriority="high"
                decoding="async"
                width="1920"
                height="1080"
              />
            </picture>

            <div class="carousel-overlay">
              <div class="carousel-content"> 
               <a href="#" class="btn-primary" onclick="openModal()">DOAR</a>
              </div>
            </div>
          </div>

  </div>

        </div>

        <!-- CONTROLES -->
        <div class="carousel-controls">
          <span class="carousel-dot active" onclick="goToSlide(0)"></span>
          <span class="carousel-dot" onclick="goToSlide(1)"></span> 
          <span class="carousel-dot" onclick="goToSlide(2)"></span> 
        </div>
      </section>