  <!-- Parceiros -->
      <section id="parceiros">
        <div class="container">
          <h2 class="section-title">Nossos Parceiros</h2>
          <div class="parceiros-carousel">
            <div class="parceiros-track">
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/Atados.webp"
                  alt="Empresa Atados"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/ASC logo.webp"
                  alt="Empresa ASC contabilidade"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/auris.webp"
                  alt="Empresa auris ideias digitais"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/biblioteca.webp"
                  alt="Empresa biblioteca parque rocihna C4"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/parque.webp"
                  alt="Empresa parque shanghai"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/burguer.webp"
                  alt="Empresa be burger"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/shopping.webp"
                  alt="Empresa shopping via brasil"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/bar.webp"
                  alt="Empresa bar da portuguesa"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/dhl.webp"
                  alt="Empresa DHL"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/dia de turista.webp"
                  alt="Empresa dia do turista"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/flamengo.webp"
                  alt="Empresa flamengo"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/rio-solidario.webp"
                  alt="Empresa rio solidário"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/yduqs.webp"
                  alt="Empresa yduqs"
                />
              </div>

              <!-- segunda lista (duplicada para looping) -->
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/Atados.webp"
                  alt="Empresa Atados"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/ASC logo.webp"
                  alt="Empresa ASC contabilidade"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/auris.webp"
                  alt="Empresa auris ideias digitais"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/biblioteca.webp"
                  alt="Empresa biblioteca parque rocihna C4"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/parque.webp"
                  alt="Empresa parque shanghai"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/burguer.webp"
                  alt="Empresa be burger"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/shopping.webp"
                  alt="Empresa shopping via brasil"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/bar.webp"
                  alt="Empresa bar da portuguesa"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/dhl.webp"
                  alt="Empresa DHL"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/dia de turista.webp"
                  alt="Empresa dia do turista"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/flamengo.webp"
                  alt="Empresa flamengo"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/rio-solidario.webp"
                  alt="Empresa rio solidário"
                />
              </div>
              <div class="parceiro-logo">
                <img
                  src="assets/img/logotipos/logotipo - parceiros/yduqs.webp"
                  alt="Empresa yduqs"
                />
              </div>
            </div>
          </div>
        </div>
      </section>