   <!-- Transparência -->
      <section id="transparencia">
        <div class="container">
          <h2 class="section-title">Transparência</h2>
          <div
            class="sobre-text"
            style="text-align: center; max-width: 800px; margin: 0 auto"
          >
            <p>
              Acreditamos na transparência como pilar fundamental de nossa
              gestão. Aqui você encontra nossos relatórios financeiros,
              prestação de contas e documentos institucionais.
            </p>
            <br />
            <a
              href="https://drive.google.com/file/d/17_yuA7_wj0Nh1dciM3X1CRu6ej1O3stS/view"
              target="_blank"
              class="btn-primary"
            >
              Ver Documentos
            </a>
          </div>
        </div>
      </section>